{% extends "base.html" %}

{% block content %} 
    <br>
    <br>
    
    {% comment %}
    HTML Basicc form example 

    <form method="POST" action="https://google.com">
        <input type="text" name="username" placeholder="Username"/><br>
        <input type="text" name="full name" placeholder="Full Name"/><br>
        <input type="text" name="city" placeholder="City"/><br> -->
        <input type="text" name="q" placeholder="Search"/><br>
        <input type="submit" value="Search"/>
    </form>  
    {% endcomment %}




    {% comment %} 
    This is html form
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"/><br>
        <input type="text" name="full name" placeholder="Full Name"/><br>
        <input type="text" name="city" placeholder="City"/><br>
        <input type="text" name="q" placeholder="Search"/><br>
        <input type="submit" value="Search"/>
    </form> {% endcomment %}



    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search"/>
    </form>


{% endblock content %}